{{- $item := . -}}
{{- with .item -}}
  {{- $item = . -}}
{{- end -}}

<div class="pub-list-item view-citation atlas-publication-line">
  <a class="atlas-publication-title" href="{{ $item.RelPermalink }}"><strong>{{ $item.Title }}</strong></a>
  <div class="article-metadata li-cite-author atlas-publication-authors">
    {{- partial "page_metadata_authors" $item -}}
  </div>
  {{- partial "page_metadata_author_notes" $item -}}
  {{- $venue := $item.Params.publication_short | default $item.Params.publication -}}
  {{- with $venue -}}
    <div class="atlas-publication-venue">{{ . | markdownify }}</div>
  {{- end -}}
  <div class="btn-links atlas-publication-links">
    {{- partial "page_links" (dict "page" $item "is_list" 1) -}}
  </div>
</div>
